node_modules
dist
*.local
.DS_Store
._*
**/._*
# Tectonic intermediates
public/cred10.aux
public/cred10.log
public/cred10.out
public/blockspace-conservation-may-2026.aux
public/blockspace-conservation-may-2026.log
public/blockspace-conservation-may-2026.out
.vercel
